package ${packageName}.mapper;

import com.baomidou.mybatisplus.mapper.BaseMapper;
import ${packageName}.entity.${entityName};

/**
 *
 * @ClassName 类名：${mapperName}
 * @Description 功能说明： ${comments}
 *              <p>
 *              TODO
 *              </p>
 ***********************************************************************
 * @date 创建日期：${datetime}
 * @author 创建人：${author}
 * @version 版本号：V1.0
 *          <p>
 ****************************修订记录************************************
 * 
 *          ${datetime} ${author} 创建该类功能。
 *
 ***********************************************************************
 *          </p>
 */
public interface ${mapperName} extends BaseMapper<${entityName}> {

}
 