package ${packageName}.controller.req;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import lombok.Data;
import lombok.experimental.Accessors;

/**
 *
 * @ClassName 类名：${reqEntityName}
 * @Description 功能说明： ${comments}
 *              <p>
 *              TODO
 *              </p>
 ***********************************************************************
 * @date 创建日期：${datetime}
 * @author 创建人：${author}
 * @version 版本号：V1.0
 *          <p>
 ****************************修订记录*************************************
 * 
 *          ${datetime} ${author} 创建该类功能。
 *
 ***********************************************************************
 *          </p>
 */
@Data
@Accessors(chain = true)
public class ${reqEntityName}  {

#foreach ($column in $columns)
	#if($column.comments!='' )
	
    /**
	 * $column.comments
	 */
    #end
    #if($column.attrType !='Date' )
	private $column.attrType $column.attrname;
	#end
#end

}
