package ${packageName}.service;

import com.baomidou.mybatisplus.extension.service.IService;

import cn.sunshine.common.base.entity.PageResp;
import ${packageName}.entity.${capitalEntityName};
import ${packageName}.entity.req.${capitalEntityPageReqName};
import ${packageName}.entity.req.${capitalEntityReqName};
import ${packageName}.entity.resp.${capitalEntityRespName};
import ${packageName}.entity.resp.${capitalEntityPageRespName}; 
 /**
 * <p>
 *  ${tableComment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${createDate}
 */
public interface ${capitalServiceName} extends IService<${capitalEntityName}> {


	/**
	 * 
	 * @Title: queryPage
	 * @Description:分页查询
	 * @param ${entityPageReqName}
	 * @return
	 *
	 * @date   创建时间：2019年6月17日
	 * @author 作者：wuj
	 */
	PageResp<${capitalEntityPageRespName}> queryPage(${capitalEntityPageReqName} ${entityPageReqName});

    /**
	 * 
	 * @Title: doCreate  
	 * @Description:新增
	 * @param ${entityReqName}
	 *
	 * @date   创建时间：${createDate}
	 * @author 作者： ${author}
	 */
	void doCreate(${capitalEntityReqName} ${entityReqName});
	
	/**
	 * 
	 * @Title: doUpdate  
	 * @Description:修改
	 * @param ${entityReqName}
	 *
	 * @date   创建时间：${createDate}
	 * @author 作者： ${author}
	 */
	void doUpdate(${capitalEntityReqName} ${entityReqName});
	
	/**
	 * 
	 * @Title: doRemove  
	 * @Description:删除
	 * @param id
	 *
	 * @date   创建时间：${createDate}
	 * @author 作者： ${author}
	 */
	void doRemove(Long id);
} 
