package ${packageName}.service;

import com.baomidou.mybatisplus.service.IService;

import ${packageName}.entity.${capitalEntityName};

 /**
 * <p>
 *  ${tableComment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${createDate}
 */
public interface ${capitalServiceName} extends IService<${capitalEntityName}> {


    /**
	 * 
	 * @Title: doCreate  
	 * @Description:新增
	 * @param ${entityReqName}
	 *
	 * @date   创建时间：${createDate}
	 * @author 作者： ${author}
	 */
	void doCreate(${capitalEntityName} ${entityReqName});
	
	/**
	 * 
	 * @Title: doUpdate  
	 * @Description:修改
	 * @param ${entityReqName}
	 *
	 * @date   创建时间：${createDate}
	 * @author 作者： ${author}
	 */
	void doUpdate(${capitalEntityName} ${entityReqName});
	
	/**
	 * 
	 * @Title: doRemove  
	 * @Description:删除
	 * @param id
	 *
	 * @date   创建时间：${createDate}
	 * @author 作者： ${author}
	 */
	void doRemove(Long id);
} 
