package ${controllerPackageName}.controller.resp;

import java.math.BigDecimal;
import java.util.List;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;


 /**
 * <p>
 *  ${tableComment} 分页请求返回对象
 * </p>
 *
 * @author ${author}
 * @since ${createDate}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@EqualsAndHashCode(callSuper = false)
@ApiModel("${tableComment} 分页请求返回对象")
public class ${capitalEntityPageRespName} {

#foreach ($tableField in $tableFields)

	#if($tableField.columnName=='CREATE_TIME')
	#elseif($tableField.columnName=='MODIFY_TIME')
	#elseif($tableField.columnName=='DEL_FLAG')
    #else
    @ApiModelProperty(value ="$tableField.comments")
    private $tableField.propertyType $tableField.propertyName;
	#end
#end
   
}