<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div id=toolbar>

						<form id="queryForm" class="form-group fl ">
							<div class="fl">
								<div class="input-group w350">
									<span class="input-group-addon">条件</span> <input
										class="form-control" name="condition" placeholder="请输入条件查询">
								</div>
							</div>
						</form>
						<div class="columns pull-left ml10">
							<button shiro:hasPermission="#if(${moduleName}!='' )${moduleName}:#end${classname}:add" type="button"
								class="btn btn-primary fl ml5" onclick="add()">
								<!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
								添加
							</button>
							<button shiro:hasPermission="#if(${moduleName}!='' )${moduleName}:#end${classname}:batchDelete" type="button"
								class="btn btn-danger fl ml5" onclick="batchDelete()">
								<!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
								删除
							</button>
						</div>

					</div>
					<table id="table"
						class="bootstrap-table table table-bordered table-hover "
						data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<script th:inline="javascript">
		  var s_add_h    =  [[${@permService.hasPermi('#if(${moduleName}!='' )${moduleName}:#end${classname}:add')}]];
		  var s_edit_h   =  [[${@permService.hasPermi('#if(${moduleName}!='' )${moduleName}:#end${classname}:edit')}]];
		  var s_delete_h =  [[${@permService.hasPermi('#if(${moduleName}!='' )${moduleName}:#end${classname}:delete')}]];
    </script>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/app#if(${moduleName}!='' )/${moduleName}#end/${classname}/${classname}.js">
		
	</script>
</body>

</html>