/**
 * @author ${author}
 * @date   ${datetime}
 */
var prefix = "#if(${moduleName}!='' )/${moduleName}#end/${classname}";
var menuTrees;
$(function() {
	validateRule();
});

$.validator.setDefaults({
	submitHandler : function() {
		update();
	}
});

function update() {
	app.doSave({url:prefix+'/update',data : $('#editForm').serialize(),action:ACTION.EDIT});
}


function validateRule() {
	var icon = "<i class='fa fa-times-circle'></i> ";
	$("#editForm").validate({
		rules : {
 #foreach ($column in $columns)
	#if($column.columnName != $pk.columnName)
	    #if($column.isNullable =='NO')
	      #if($column.attrType !='Date' )
	        $column.columnName : {
				required : true
			}#if($foreach.hasNext),#end   
		  #end	
	    #end		
	#end
 #end	
		},
		messages : {
 #foreach ($column in $columns)
	#if($column.columnName != $pk.columnName)
	    #if($column.isNullable =='NO')
	      #if($column.attrType !='Date' )
	        $column.columnName : {
				required : icon + "请输入$column.comments"
			}#if($foreach.hasNext),#end  
		  #end	 
	    #end		
	#end
 #end	
		}
	});
}