/**
 * @author ${author}
 * @date   ${datetime}
 */
var prefix = "#if(${moduleName}!='' )/${moduleName}#end/${classname}";
$(function() {
	load();
});

function load() {
	 app.table('#table',{
		    url : prefix + "/list", // 服务器数据的加载地址
			dataType : "json", // 服务器返回的数据类型
	        toolbar: '#toolbar',
	        method: 'get',
	        columns: [   { // 列配置项
								// 数据类型，详细参数配置参见文档http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/
								checkbox : true
						// 列表中显示复选框
						},
						{
							title : '序号' ,// 列标题
							formatter: function (value, row, index) {
	 							return index+1;
	 						}

						},
			    #foreach ($column in $columns)
			         #if($column.columnName != $pk.columnName)
			           #if($column.attrType !='Date' )
					    {
							field : '$column.attrname', // 列字段名
							title : '$column.comments' // 列标题
						},
					   #end	
			         #end   
			    #end
						{
							title : '操作',
							align : 'center',
							formatter : function(value, row, index) {
								var e = '<a class="btn btn-success btn-sm '+s_edit_h+'" href="#" mce_href="#" title="编辑" onclick="edit(\''
										+ row.${pk.attrname}
										+ '\')"><i class="fa fa-edit">编辑</i></a> ';
								var d = '<a class="btn btn-danger btn-sm '+s_delete_h+'" href="#" title="删除"  mce_href="#" onclick="del(\''
										+ row.${pk.attrname}
										+ '\')"><i class="fa fa-remove">删除</i></a> ';
								return e + d;
							}
						} 
	               ],
	        params:function(){
	           return $("#queryForm").serializeObject();
	        }
	    });
}
function reLoad() {
	$('#table').bootstrapTable('refresh');
}
//新增
function add() {
	app.layer_show({title:'添加',content : prefix + '/add'});
}

function edit(${pk.attrname}) {
	var url = prefix + '/edit/' + ${pk.attrname};
	app.layer_show({title:'修改',content : url});
}

function del(${pk.attrname}) {
	
	var data ={"${pk.attrname}":${pk.attrname}};
	app.modalConfirm('确定要删除选中的记录？',
			function() {
						app._ajax(	{url : prefix + "/delete",
								     data :data
								})
	                    }			
	     );
}

function batchDelete() {
	
	var rows = $('#table').bootstrapTable('getSelections'); // 返回所有选择的行，当没有选择的记录时，返回一个空数组
	if (rows.length == 0) {
		layer.msg("请选择要删除的数据",{time:600});
		return;
	}
	
	app.modalConfirm('确定要删除选中的记录？',
			function() {
						var ${pk.attrname}s = new Array();
						$.each(rows, function(i, row) {
							${pk.attrname}s[i] = row['${pk.attrname}'];
						});
						var data ={"${pk.attrname}s":${pk.attrname}s};
						app._ajax(	{url : prefix + "/batchDelete",
								     data :data
								})
	                    }			
	 );
}