-- 菜单sql
INSERT INTO  sys_menu
  (menu_id,parent_id, name,
   url,perms, type,
   icon, order_num)
VALUES
  (${menuId},1,'${comments}', 
   '#if(${moduleName}!='' )/${moduleName}#end/${classname}', '#if(${moduleName}!='' )${moduleName}:#end${classname}:${classname}', 1,
   'fa fa-heart-o',0
  );
-- 按钮父菜单ID
-- set @parentId = @@identity;  
  
-- 菜单对应按钮SQL
INSERT INTO  sys_menu
  (menu_id,parent_id, name,
   url,perms, type,
   icon, order_num)
VALUES
  (${addId},${menuId},'新增', 
   '', '#if(${moduleName}!='' )${moduleName}:#end${classname}:add', 2,
   '',1
  );  
  
INSERT INTO  sys_menu
  (menu_id,parent_id, name,
   url,perms, type,
   icon, order_num)
VALUES
  (${editId},${menuId},'修改', 
   '', '#if(${moduleName}!='' )${moduleName}:#end${classname}:edit', 2,
   '',2
  );  
  
INSERT INTO  sys_menu
  (menu_id,parent_id, name,
   url,perms, type,
   icon, order_num)
VALUES
  (${deleteId},${menuId},'删除', 
   '', '#if(${moduleName}!='' )${moduleName}:#end${classname}:delete', 2,
   '',3
  );  
  
INSERT INTO  sys_menu
  (menu_id,parent_id, name,
   url,perms, type,
   icon, order_num)
VALUES
  (${batchDeleteId},${menuId},'批量删除', 
   '', '#if(${moduleName}!='' )${moduleName}:#end${classname}:batchDelete', 2,
   '',4
  );       