package ${packageName}.mapper;

import com.baomidou.mybatisplus.mapper.BaseMapper;

import ${packageName}.entity.${capitalEntityName};

/**
 * <p>
 *  ${tableComment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${createDate}
 */
public interface ${capitalMapperName} extends BaseMapper<${capitalEntityName}> {

}
 