package ${packageName}.service;

import org.springframework.stereotype.Service;

import com.baomidou.mybatisplus.service.impl.ServiceImpl;

import ${packageName}.dao.${capitalMapperName};
import ${packageName}.entity.${capitalEntityName};
import ${packageName}.service.${capitalServiceName};


 /**
 * <p>
 *  ${tableComment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${createDate}
 */
@Service
public class ${capitalServiceImplName} extends ServiceImpl<${capitalMapperName}, ${capitalEntityName}> implements ${capitalServiceName} {

	@Override
    public void doCreate(${capitalEntityName} ${entityReqName}){
    
    }
    
    
    @Override
    public void doUpdate(${capitalEntityName} ${entityReqName}){
    
    }
    
    
    @Override
    public void doRemove(Long id){
    
    }
}
