package ${packageName}.entity.req;

import java.math.BigDecimal;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;


 /**
 * <p>
 *  ${tableComment} 请求对象
 * </p>
 *
 * @author ${author}
 * @since ${createDate}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@EqualsAndHashCode(callSuper = false)
@ApiModel("${tableComment} 请求对象")
public class ${capitalEntityReqName} {

#foreach ($tableField in $tableFields)
	
	#if($tableField.columnName=='CREATE_TIME')
	#elseif($tableField.columnName=='MODIFY_TIME')
	#elseif($tableField.columnName=='DEL_FLAG')
	#else
    @ApiModelProperty(value ="$tableField.comments")
    private $tableField.propertyType $tableField.propertyName;
    #end
#end

    @ApiModelProperty(value ="逻辑删除：0 未删除 1 已删除")
    private String delFlag;
	
}